@use '~@newhighsco/chipset/styles/mixins/grid';
@use '~styles/breakpoints.module';
@use '~styles/functions';
@use '~styles/mixins';
@include grid.gutter('', functions.spacing(2));
@include grid.flex;
@include grid.reverse;
@include grid.valign(middle);
@include grid.widths('', 2 3);
@include grid.hidden;

@include mixins.mq(breakpoints.$tablet) {
  @include grid.widths('tablet', 4);
}

@include mixins.mq(breakpoints.$tablet-landscape) {
  @include grid.widths('tablet-landscape', 5);
}

@include mixins.mq(breakpoints.$desktop) {
  @include grid.gutter('', functions.spacing(4));
  @include grid.widths('desktop', 2);
  @include grid.hidden('desktop');
}
