version: 2.1

orbs:
  newhighsco: newhighsco/orb@dev:alpha

only-main: &only-main
  filters:
    branches:
      only:
        - main

only-version-tags: &only-version-tags
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

build-parameters: &build-parameters
  name: build
  command: yarn build:storybook
  path-to-persist: storybook

setup-parameters: &setup-parameters
  name: setup
  cache-version: v2.1
  checkout-method: full
  pkg-manager: yarn-berry

workflows:
  version: 2
  test_and_release:
    jobs:
      - newhighsco/setup:
          <<: *setup-parameters
      - newhighsco/test:
          name: test
          requires:
            - setup
      - newhighsco/build:
          <<: *build-parameters
          requires:
            - test
      - newhighsco/snapshot:
          name: snapshot
          requires:
            - build
      - newhighsco/release:
          <<: *only-main
          name: release
          requires:
            - test
  snapshot_version:
    jobs:
      - newhighsco/setup:
          <<: *only-version-tags
          <<: *setup-parameters
      - newhighsco/build:
          <<: *only-version-tags
          <<: *build-parameters
          requires:
            - setup
      - newhighsco/snapshot:
          <<: *only-version-tags
          name: snapshot
          requires:
            - build
