$black: #000;
$white: #fff;
$space: #29235c;
$night: #391c53;
$plum: #881c68;
$berry: #b7196e;
$lychee: #fe4c90;
$mist: #cac8d7;
$logo: #e61873;

:export {
  black: $black;
  white: $white;
  space: $space;
  night: $night;
  plum: $plum;
  berry: $berry;
  lychee: $lychee;
  mist: $mist;
}
