@use 'sass:math';
@use './functions';
@forward '~@newhighsco/chipset/styles/mixins';

@mixin tartan($count: 4) {
  background-size: math.div(100%, $count);
}

@mixin stitches($color, $inset: 1, $position: relative) {
  @if $color != none {
    position: $position;

    &::before {
      border: 1px dashed $color;
      border-radius: inherit;
      content: '';
      pointer-events: none;
      position: absolute;
      inset: functions.spacing($inset);
      z-index: 1;
    }
  } @else {
    &::before {
      content: none;
    }
  }
}

@mixin underline($style: dashed) {
  text-decoration: underline 1px $style currentColor;
  text-underline-offset: functions.spacing(0.5);
}
