@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background: colors.$white;
  border-radius: functions.spacing(1);
  color: colors.$space;
  max-width: 320px;
  padding: functions.spacing(1);
}

.content {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  place-content: center space-between;
}
