@use '~styles/colors.module';
@use '~styles/fonts.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: fonts.$heading;
    line-height: 1em;

    strong {
      color: colors.$lychee;
    }
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  a[href] {
    color: var(--prose-link, colors.$guava);

    @include mixins.underline;
  }

  ol,
  ul {
    margin-left: functions.spacing(4);

    li::marker {
      color: var(--prose-link, colors.$guava);
    }
  }

  p + h3,
  ol + h3 {
    margin-top: functions.spacing(4);
  }
}
