@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.teasers {
  display: grid;
  gap: functions.spacing(2);
}

.teaser {
  align-items: center;
  background: colors.$black;
  color: colors.$white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 16rem;
  padding: functions.spacing(4);
  text-align: center;

  @include mixins.stitches(colors.$lychee, 0.5);

  p {
    color: colors.$lychee;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }

  h2 {
    margin: functions.spacing(1) 0 0;
  }
}
