@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  background: rgba(colors.$space, $alpha: 0.95);
  border-bottom: 3px solid currentColor;
  border-image: linear-gradient(
      0deg,
      currentColor,
      currentColor 66.6%,
      colors.$lychee 66.6%,
      colors.$lychee
    )
    100% 1;
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  padding-block: functions.spacing(2);
}

.logo {
  width: auto;
  z-index: 1;
}

.logoLockup {
  margin-bottom: functions.spacing(-5.125);
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.list {
  @include mixins.mq($max: breakpoints.$tablet - 1) {
    inset-inline: 0;
    inset-block-start: 100%;
    margin-top: 3px;
    position: absolute;
  }

  @include mixins.mq(breakpoints.$tablet) {
    position: static;

    &[hidden] {
      display: block;
    }
  }
}

.item {
  @include mixins.mq(breakpoints.$tablet) {
    display: inline-block;
  }
}

.link {
  @include mixins.mq($max: breakpoints.$tablet - 1) {
    background: colors.$space;
    display: block;
    padding: functions.spacing(2);
    text-align: center;

    &:hover,
    &:active,
    &:focus {
      background: colors.$lychee;
    }
  }

  @include mixins.mq(breakpoints.$tablet) {
    margin-left: functions.spacing(2);

    &:hover,
    &:active,
    &:focus {
      color: colors.$guava;
    }
  }

  @include mixins.mq(breakpoints.$desktop) {
    margin-left: functions.spacing(4);
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline 1px dashed currentColor;
    text-underline-offset: functions.spacing(0.5);
  }
}

.toggle {
  background: none;
  border: none;
  padding: 0;

  @include mixins.mq(breakpoints.$tablet) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: none;
    color: colors.$guava;
  }
}

.toggleIcon {
  width: functions.spacing(4);
}
