@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

.root {
  background: rgba(colors.$space, $alpha: 0.95);
  border-bottom: 3px solid currentColor;
  border-image: linear-gradient(
      0deg,
      currentColor,
      currentColor 66.6%,
      colors.$lychee 66.6%,
      colors.$lychee
    )
    100% 1;
  position: sticky;
  top: 0;
  z-index: 100;
}

.content {
  padding-block: functions.spacing(2);
}

.logo {
  width: auto;
  z-index: 1;
}

.logoLockup {
  margin-bottom: functions.spacing(-5.125);
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.list {
  .navigation > & {
    @include mixins.mq($max: breakpoints.$tablet - 1) {
      inset-inline: 0;
      inset-block-start: 100%;
      margin-top: 3px;
      position: absolute;
    }

    @include mixins.mq(breakpoints.$tablet) {
      position: static;

      &[hidden] ~ & {
        display: block;
      }
    }
  }

  .navigation > [aria-expanded='false'] ~ & {
    @include mixins.mq(breakpoints.$tablet) {
      display: block;
    }
  }

  .list {
    @include mixins.mq(breakpoints.$tablet) {
      background: colors.$lychee;
      border: 2px solid transparent;
      border-block-start: 0;
      border-bottom-left-radius: functions.spacing(1);
      border-bottom-right-radius: functions.spacing(1);
      margin-top: functions.spacing(3.6);
      inset-inline-end: 0;

      @include mixins.stitches(colors.$space, 0, absolute);

      .item {
        display: block;
        padding: 0;
      }

      .link {
        color: unset;
        padding: functions.spacing(0.5) functions.spacing(2);
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          background: colors.$berry;
        }
      }
    }
  }
}

.item {
  @include mixins.mq(breakpoints.$tablet) {
    display: inline-block;
    padding-left: functions.spacing(2);

    .toggleActive {
      background: none;
    }
  }

  @include mixins.mq(breakpoints.$desktop) {
    padding-left: functions.spacing(4);
  }

  &:first-child {
    padding-left: 0;
  }

  .toggleIcon {
    width: 1em;

    @include mixins.mq($max: breakpoints.$tablet - 1) {
      margin-right: -1em;
    }
  }
}

.link {
  border: unset;
  border-radius: unset;
  font-weight: unset;
  outline: none;

  @include mixins.mq($max: breakpoints.$tablet - 1) {
    background: colors.$space;
    display: block;
    padding: functions.spacing(2);
    text-align: center;

    &:hover,
    &:active,
    &:focus {
      background: colors.$lychee;
    }
  }

  @include mixins.mq(breakpoints.$tablet) {
    background: none;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      background: none;
      color: colors.$guava;
    }
  }

  &::before {
    content: none;
  }

  &:hover,
  &:active,
  &:focus {
    @include mixins.underline;
  }
}

.toggle {
  background: none;
  border: none;
  padding: 0;

  @include mixins.mq(breakpoints.$tablet) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus,
  &.toggleActive {
    background: none;
    color: colors.$lychee;
    outline: none;
  }
}

.toggleIcon {
  width: functions.spacing(4);
}
