@use '~styles/breakpoints.module';
@use '~styles/colors.module';
@use '~styles/functions';
@use '~styles/mixins';

$logo-spacing: 3.125;

.root {
  background: rgba(colors.$space, $alpha: 0.95);
  border-bottom: 3px solid currentColor;
  border-image: linear-gradient(
      0deg,
      currentColor,
      currentColor 66.6%,
      colors.$logo 66.6%,
      colors.$logo
    )
    100% 1;
  color: colors.$white;
  margin-bottom: functions.spacing($logo-spacing);
  position: sticky;
  top: 0;
}

.content {
  padding-block: functions.spacing(2);
}

.logo {
  width: auto;
  z-index: 1;
}

.logoLockup {
  margin-bottom: functions.spacing(($logo-spacing + 2) * -1);
}

.links {
  flex-grow: 1;
  text-align: right;
  width: auto;
}

.list {
  @include mixins.mq($max: breakpoints.$tablet) {
    inset-inline: 0;
    inset-block-start: 100%;
    margin-top: 3px;
    position: absolute;
  }

  @include mixins.mq(breakpoints.$tablet) {
    position: static;

    &[hidden] {
      display: block;
    }
  }
}

.item {
  @include mixins.mq(breakpoints.$tablet) {
    display: inline-block;
  }
}

.link {
  @include mixins.mq($max: breakpoints.$tablet) {
    background: colors.$space;
    display: block;
    padding: functions.spacing(2);
    text-align: center;

    &:hover,
    &:active,
    &:focus {
      background: colors.$berry;
    }
  }

  @include mixins.mq(breakpoints.$tablet) {
    margin-left: functions.spacing(2);

    &:hover,
    &:active,
    &:focus {
      background: none;
      color: colors.$lychee;
    }
  }

  @include mixins.mq(breakpoints.$desktop) {
    margin-left: functions.spacing(4);
  }
}

.toggle {
  @include mixins.mq(breakpoints.$tablet) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    color: colors.$logo;
  }
}

.toggleIcon {
  width: functions.spacing(4);
}
