@use '~styles/colors.module';
@use '~styles/functions';

.root {
  background: colors.$space;
  margin-bottom: functions.spacing(2.75);
}

.content {
  padding-bottom: functions.spacing(4);

  > * + * {
    margin-top: functions.spacing(2);
  }
}

.link {
  color: colors.$guava;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline 1px dashed currentColor;
    text-underline-offset: functions.spacing(0.5);
  }
}

.icon {
  width: functions.spacing(3);
}

.iconLink {
  display: inline-block;
  margin-inline: functions.spacing(1);

  &:hover,
  &:active,
  &:focus {
    color: colors.$guava;
  }
}

.logoLockup {
  display: inline-block;
  margin-top: functions.spacing(-2.75);
}
