@use '~styles/colors.module';
@use '~styles/functions';

$logo-spacing: 2.75;

.root {
  background: colors.$space;
  color: colors.$white;
  margin-top: functions.spacing($logo-spacing);
}

.content {
  padding-bottom: functions.spacing(2);

  > * + * {
    margin-top: functions.spacing(2);
  }
}

.link {
  color: colors.$lychee;

  &:hover,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.icon {
  width: functions.spacing(3);
}

.iconLink {
  display: inline-block;
  margin-inline: functions.spacing(1);

  &:hover,
  &:active,
  &:focus {
    color: colors.$lychee;
  }
}

.logoLockup {
  display: inline-block;
  margin-top: functions.spacing($logo-spacing * -1);
}
